@import './base.css';

.electrolize-regular {
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-style: normal;
  }

.electrolize-bold {
    font-family: "Electrolize", serif;
    font-weight: 600;
    font-style: normal;
  }

.jost-regular> {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }